Source: pcaspy
Maintainer: Daron Chabot <dchabot@bnl.gov>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all-dev (>= 2.6.6-3), debhelper (>= 7),
               libepics3.14.11 | libepics3.14.12 | libepics3.14.12.3,
               python-numpy, swig, python-sphinx,
XS-Python-Version: >= 2.6
Standards-Version: 3.9.1
Homepage: https://code.google.com/p/pcaspy
Vcs-Git:  https://github.com/epicsdeb/python-pcaspy.git


Package: python-pcaspy
Architecture: amd64
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends},
         libepics3.14.11 | libepics3.14.12 | libepics3.14.12.3,
         python-numpy,
Description: Portable Channel Access Server in Python
 PCASpy
 ======
 .
 PCASpy provides not only the low level python binding to EPICS Portable Channel Access Server
 but also the necessary high level abstraction to ease the server tool programming.
 .
 Check out `PCASpy documents <https://pcaspy.readthedocs.org>`_ to get started.
 .
 * Home: https://code.google.com/p/pcaspy
 * Documents: https://pcaspy.readthedocs.org
 * Downloads: https://pypi.python.org/pypi/pcaspy
 * Source Repo: https://code.google.com/p/pcaspy/source
 * Issue Tracker: https://code.google.com/p/pcaspy/issues/list.
 .
